.title {
    color: #0d6efd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-input {
    float: right;
    justify-content: flex-end;
}

.action {
    float: right
}