<div class="bg-primary footer p-3">
<div class="text-center">
        <i class="bi bi-c-circle"></i><span> 2022 Copyright@system_X.com</span>
</div>
  <!-- <i class="navbar-brand bi bi-cart4"></i> -->
  <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
    <!-- <div class="navbar-nav"> -->
      <!-- <a class="nav-item nav-link active" href="#">Home</a> -->
      <!-- <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a> -->
    <!-- </div> -->
  <!-- </div> -->
</div>
