.sm-input {
    width: 5rem;
}

.form-center {
    display:inline-flex;
}

.vr-bar {
    color: gray;
    height: 20px;
    width: 3px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.cost {
    float: right;
}

.add-item {
    color: blue;
    cursor: pointer;
}